<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jet Sphere</title>
</head>
<body>
    <h1>Homepage</h1>

    <h1><%= email %></h1>
    <a href="/search-flights">Search Flights</a>

    <a href="/logout">Logout</a>
</body>
</html>